# Angular
node_modules/
dist/
tmp/
out-tsc/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock
coverage/
.angular/
.idea/
.vscode/
.sass-cache/
*.iml
.vs/
vs/

# C# API
bin/
obj/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates
.vscode/
.vs/
.idea/
_ReSharper*/
project.lock.json
project.fragment.lock.json
artifacts/
*.bin
*.exe
*.db
*.dll
*.vsidx
v17/
Debug/
Release/
.Debug/
.Release/
*.pfx
*.pdb
*.cache
*.editorconfig
obj/