<header class="header border-b p-3 w-full">
  <div class="flex flex-row align-middle items-center justify-between max-w-screen-2xl mx-auto">
    <img src="assets/logo.jpg?v={{version}}" alt="app logo" class="max-h-16" >
    <div class="flex gap-3 align-middle">
      @if (accountService.currentUser()) {
        <button mat-button [matMenuTriggerFor]="menu" class="custom-button">
          <mat-icon>arrow_drop_down</mat-icon>
          <span>{{accountService.currentUser()?.email}}</span>
        </button>
      } @else {
        <button type="button" class="btn btn-dark" (click)="navigateToLoginUser()">Login</button>
        <button type="button" class="btn btn-dark" (click)="navigateToRegisterUser()">Register</button>
      }
    </div>
  </div>
</header>

<mat-menu #menu="matMenu">
  <button mat-menu-item class="px-3" (click)="logout()">
    Logout
  </button>
</mat-menu>